section {
    /* size */
    width: 100%;

    /* positioning */
    position: absolute;
    left: 0px;
}

.card {
    /* positioning */
    position: relative;

    /* layout */
    margin-bottom: 30px;

    /* appearance */
    background: black;
    overflow: hidden;
}

.card .cardcaption {
    /* positioning */
    position: absolute;
    bottom: 0px;
    left: 0px;

    /* appearance */
    background: red;
    overflow: hidden;

    /* size */
    height: 30px;
    width: 100%;

    /* animation */
    -webkit-transition: height 500ms, -webkit-transform 500ms; /* For Safari 3.1 to 6.0 */
    transition: height 500ms, transform 500ms;

}

.card:hover .cardcaption {
    /* size */
    height: 100%;
}
