section {

}

.card {
    /* positioning */
    position: relative;

    /* layout */
    margin-bottom: 30px;

    /* appearance */
    background: black;
    overflow: hidden;
}

.card * {
    width: 100%;
}

.card .caption {
    /* positioning */
    position: absolute;
    bottom: 0px;
    left: 0px;

    /* appearance */
    background: rgba(0, 0, 0, .60);
    color: white;
    overflow: hidden;

    /* text */
    text-align: left;

    /* layout */
    padding: 5px;

    /* size */
    height: 40px;

    /* animation */
    -webkit-transition: height 500ms, -webkit-transform 500ms; /* For Safari 3.1 to 6.0 */
    transition: height 500ms, transform 500ms;

}

.card:hover .caption {
    /* size */
    height: 100%;
}

.card .caption .title {
    /* appearance */
    background: rgba(0, 0, 0, .5);
    color: white;
    overflow: hidden;

    /* font */
    font-size: 20px;
    line-height: 30px;

    /* layout */
    padding-left: 5px;
    padding-right: 5px;

    /* size */
    height: 30px;
}
