.menu-background{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background:#cccccc;
    border: 1px;
     border-bottom-left-radius: 2em;
}

.menu-item{
    background:#ffffff;
    border-radius: 10px;
    border-bottom: 1px;
}

/* errors if forms */

.errors {
    color:red;
    font-weigfht:bold;
    font-size:large;
}

/* for the rating */

.rating span {
    font-size: 2em;
}

.rating span.set{
    color: gold;
}
